@charset "UTF-8";

@media screen and (min-width: 1060px){
    #menu{
        display: none;
    }

    header{
        padding: 0px 10vw 0px 10vw;
    }

    header > nav{
        display: flex;
    }

    header  > nav > a{
        color: white;
        text-decoration: none;
        padding: 15px;
        font-weight: bold;
    }

    header > nav > a:hover{
        text-decoration: underline;
    }

    header > img{
        padding: 0;
        height: 25px;
    }

    header > div > a{
        padding: 14px;
        font-size: 0.8em;
        border-radius: 30px;
    }
}