@charset "UTF-8";

@media screen and (min-width: 992px){
    #menu{
        display: none;
    }

    header{
        padding: 0px 10vw 0px 10vw;
    }

    header > nav{
        display: flex;
    }

    header  > nav > a{
        color: white;
        text-decoration: none;
        padding: 12px;
        font-weight: bold;
        font-size: 0.9em;
    }

    header > nav > a:hover{
        text-decoration: underline;
    }

    header > img{
        padding: 0;
        height: 25px;
    }

    header > div > a{
        padding: 13px;
        font-size: 0.8em;
        border-radius: 30px;
    }
}